{% load static %}
<table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="contractEquipmentsTable">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Модель</th>
            <th >Серийный номер</th>
            <th>Поддержка</th>
            <th>Действие</th>

        </tr>
    </thead>
    <tbody class="list form-check-all" id="contractEquipments-list-data">

    </tbody>
    <tbody class="list form-check-all" id="contractEquipments-list-data-preloader">
      <tr>
          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
      </tr>
    </tbody>
</table>
{% include "contracts/edit/modal_edit_eq.html" %}
<script type="text/javascript">
  let contractEquipmentsTable;
  $(document).ready(function () {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            document.cookie.split(';').forEach(cookie => {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.split('=')[1]);
                }
            });
        }
        return cookieValue;
    }

    var path = window.location.pathname;
    var contractId = path.split('/').pop();
    contractEquipmentsTable = $('#contractEquipmentsTable').DataTable({
       processing: true,
       serverSide: true,
       searching: false,
       ajax: {
           url: '/contracts/api/eqcontract/' + contractId,  // Путь к вашему API
           type: 'GET',
           data: function(d) {

           },
       },

       columns: [
         {
           data:'id'
         },
         {
           data:'equipment_name'
         },
         {
           data:'sn'
         },
         {
           data:'support_name'
         },
         {
           data: 'id',
           render: function(data, type, row) {
                 // Создание ссылки на страницу деталей заявки с использованием id
                 return `<div class="dropdown">
                             <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="ri-more-fill align-middle"></i>
                             </button>
                             <ul class="dropdown-menu dropdown-menu-end" style="">
                                 <li><a class="dropdown-item edit-item-btn" href="#showModalEditEquipment"data-bs-toggle="modal"
                                         data-equipment-id="${row.id}"
                                         data-support-id="${row.support || ''}"
                                         data-equipment-name="${row.equipment_name || ''}"
                                         data-contract-id="${contractId || ''}">
                                         <i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Редактировать</a></li>
                                 <li>
                                 <li>
                                     <a class="dropdown-item remove-item-btn" data-delete-id="${row.id}" href="#">
                                         <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Удалить
                                     </a>
                                 </li>
                             </ul>
                         </div>`;
           }
         }
       ],
       columnDefs: [
         {
           targets: 0, // Первая колонка
           width: "5%",
           className: 'dt-center' // Встроенный класс DataTables
         }
       ],
       paging: true,
       lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
       order: [[0, 'default']],
       language: {
           url: '/static/assets/js/table-ru.json'
       },
       stateSave: true, // Сохранение состояния таблицы
       // Убедитесь, что данные возвращаются в правильном формате
       deferRender: true, // Ускоряет при большом количестве данных
       drawCallback: function(settings) {
         $('.add-btn').attr('disabled', false)
         $('#contractEquipments-list-data').show()
         $('#contractEquipments-list-data-preloader').remove()
         // Инициализация тултипов после рендеринга таблицы
         var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
         tooltipTriggerList.forEach(function (tooltipTriggerEl) {
             new bootstrap.Tooltip(tooltipTriggerEl);
         });
       }
     })

     $(document).on('click', '.remove-item-btn', function() {
       let equipment_id = $(this).data('deleteId')
       $.ajax({
           url: `/contracts/api/eqcontract/${contractId}/${equipment_id}/`,
           method: 'DELETE',
           headers: { 'X-CSRFToken': getCookie('csrftoken') },
           processData: false,
           contentType: false,
           dataType: 'json',
           statusCode: {
               204: function(data) {
                   alertDeleteSuccess(`Оборудование удалено`);
                   $('.delete-equipment-success').on('click', () => contractEquipmentsTable.ajax.reload(null, false));
               },
               404: function() {
                   alertDeleteError("Адрес запроса не существует!");
               },
               403: function(data) {
                   alertDeleteError(data.message);
               },
               500: function() {
                   alertDeleteError("Ошибка сервера 500!");
               }
           },
           complete: function () {
           }
       });
     })

     function alertDeleteSuccess (text)
     {
       Swal.fire({
           html: '<div class="mt-3">' +
               '<lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>' +
               '<div class="mt-4 pt-2 fs-15">' +
               '<h4>Успех !</h4>' +
               `<p class="text-muted mx-4 mb-0">${text}</p>` +
               '</div>' +
               '</div>',
           showCancelButton: true,
           showConfirmButton: false,
           cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-equipment-success',
           cancelButtonText: 'Oк',
           buttonsStyling: false,
           showCloseButton: true
       })
     }
     function alertDeleteError(text){
       Swal.fire({
           html: '<div class="mt-3">' +
               '<lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>' +
               '<div class="mt-4 pt-2 fs-15">' +
               '<h4>Упс...! Что то пошло не так!</h4>' +
               `<p class="text-muted mx-4 mb-0">${text}</p>` +
               '</div>' +
               '</div>',
           showCancelButton: true,
           showConfirmButton: false,
           cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-equipment-error',
           cancelButtonText: 'Закрыть',
           buttonsStyling: false,
           showCloseButton: true
       })
     }
  })
</script>
