{% load static %}
<div class="tab-pane" id="experience" role="tabpanel">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-end">
            <div class="col-lg-4">
                <div>
                    <label for="confirmpasswordInput" class="form-label">ФИО</label>
                    <input type="text" name="fio" class="form-control" id="fio" placeholder="Введите ФИО">
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <label for="confirmpasswordInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Введите Email">
                </div>
            </div>
            <div class="col-lg-3">
                <div>
                    <label for="confirmpasswordInput" class="form-label">Телефон</label>
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Введите телефон">
                </div>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-primary add-contact-btn">Добавить</button>
            </div>
          </div>

          <div class="row mt-3">
            <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="contactsTable">
                <thead>
                    <tr>
                        <th>Идентификатор</th>
                        <th>ФИО</th>
                        <th >Email</th>
                        <th>Телефон</th>
                        <th>Действие</th>

                    </tr>
                </thead>
                <tbody class="list form-check-all" id="contacts-list-data">

                </tbody>
                <tbody class="list form-check-all" id="contacts-list-data-preloader">
                  <tr>
                      <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
<!--end tab-pane-->
<script type="text/javascript">
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          document.cookie.split(';').forEach(cookie => {
              cookie = cookie.trim();
              if (cookie.startsWith(name + '=')) {
                  cookieValue = decodeURIComponent(cookie.split('=')[1]);
              }
          });
      }
      return cookieValue;
  }



  function alertSuccessC (text)
  {
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Успех !</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 create-contact-success',
        cancelButtonText: 'Oк',
        buttonsStyling: false,
        showCloseButton: true
    })
  }

  function alertErrorC(text){
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Упс...! Что то пошло не так!</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 create-contact-error',
        cancelButtonText: 'Закрыть',
        buttonsStyling: false,
        showCloseButton: true
    })
  }

  function alertDeleteSuccess (text)
  {
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Успех !</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-contact-success',
        cancelButtonText: 'Oк',
        buttonsStyling: false,
        showCloseButton: true
    })
  }

  function alertDeleteError(text){
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Упс...! Что то пошло не так!</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-contact-error',
        cancelButtonText: 'Закрыть',
        buttonsStyling: false,
        showCloseButton: true
    })
  }
  var organizationId = {{ form.organization.value }}
  $(document).ready(function () {

    var contactsTable = $('#contactsTable').DataTable({
       processing: true,
       serverSide: true,
       searching: true,
       ajax: {
           url: '/accounts/api/organizations/'+ organizationId +'/contacts/',  // Путь к вашему API
           type: 'GET',
           data: function(d) {

           },
       },

       columns: [
         {
           data:'id'
         },
         {
           data:'fio'
         },
         {
           data:'email'
         },
         {
           data:'phone'
         },
         {
           data: 'id',
           render: function(data, type, row) {
                 // Создание ссылки на страницу деталей заявки с использованием id
                 return `<div class="dropdown">
                             <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="ri-more-fill align-middle"></i>
                             </button>
                             <ul class="dropdown-menu dropdown-menu-end" style="">
                                 <li>
                                     <a class="dropdown-item remove-item-btn" data-delete-id="${row.id}" href="#">
                                         <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Удалить
                                     </a>
                                 </li>
                             </ul>
                         </div>`;
           }
         }
       ],
       columnDefs: [
         {
           targets: 0, // Первая колонка
           width: "5%",
           className: 'dt-center' // Встроенный класс DataTables
         }
       ],
       paging: true,
       lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
       order: [[0, 'default']],
       language: {
           url: '/static/assets/js/table-ru.json'
       },
       stateSave: true, // Сохранение состояния таблицы
       // Убедитесь, что данные возвращаются в правильном формате
       deferRender: true, // Ускоряет при большом количестве данных
       drawCallback: function(settings) {
         $('.add-btn').attr('disabled', false)
         $('#contacts-list-data').show()
         $('#contacts-list-data-preloader').remove()
         // Инициализация тултипов после рендеринга таблицы
         var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
         tooltipTriggerList.forEach(function (tooltipTriggerEl) {
             new bootstrap.Tooltip(tooltipTriggerEl);
         });
       }
     });

     $(document).on('click', '.remove-item-btn', function() {
       let contactId = $(this).data('deleteId');
       console.log(contactId)
       $.ajax({
           url: '/accounts/api/contacts/'+ contactId,
           method: 'DELETE',
           processData: false,
           contentType: false,
           headers: {
               'X-CSRFToken': getCookie('csrftoken')
           },
           dataType: 'json',
           statusCode: {
             200: function(result) {
                 console.log(result)
                   alertDeleteSuccess('Контакт успешно удален')
                   $('.delete-contact-success').on('click', () => {
                     contactsTable.ajax.reload(null, false)
                   });
             },
             406: function(result) {
                   alertDeleteError(result.responseJSON.error)
             },
             400: function(result) {
               let errorMessage = 'Ошибка HTTP_400_BAD_REQUEST!';
               // Если есть JSON с ошибками
                 if (result.responseJSON) {
                     // Собираем все ошибки в один текст
                     const errors = [];
                     for (const field in result.responseJSON) {
                         errors.push(...result.responseJSON[field]);
                     }
                     errorMessage = errors.join('<br>');
                 }
                 // Если нет JSON, но есть текст
                 else if (result.responseText) {
                     try {
                         const json = JSON.parse(result.responseText);
                         errorMessage = json.message || result.responseText;
                     } catch {
                         errorMessage = result.responseText;
                     }
                 }

                 // Показываем ошибку пользователю
                 alertDeleteError(errorMessage);
             },
             403: function(result) {
               let errorMessage = 'Ошибка HTTP_403_BAD_REQUEST!';
               // Если есть JSON с ошибками
                 if (result.responseJSON) {
                     // Собираем все ошибки в один текст
                     const errors = [];
                     for (const field in result.responseJSON) {
                         errors.push(...result.responseJSON[field]);
                     }
                     errorMessage = errors.join('<br>');
                 }
                 // Если нет JSON, но есть текст
                 else if (result.responseText) {
                     try {
                         const json = JSON.parse(result.responseText);
                         errorMessage = json.message || result.responseText;
                     } catch {
                         errorMessage = result.responseText;
                     }
                 }

                 // Показываем ошибку пользователю
                 alertDeleteError(errorMessage);
             },
             405: function(result) {
               let errorMessage = 'Ошибка HTTP_405_BAD_REQUEST!';
               // Если есть JSON с ошибками
                 if (result.responseJSON) {
                     // Собираем все ошибки в один текст
                     const errors = [];
                     for (const field in result.responseJSON) {
                         errors.push(...result.responseJSON[field]);
                     }
                     errorMessage = errors.join('<br>');
                 }
                 // Если нет JSON, но есть текст
                 else if (result.responseText) {
                     try {
                         const json = JSON.parse(result.responseText);
                         errorMessage = json.message || result.responseText;
                     } catch {
                         errorMessage = result.responseText;
                     }
                 }

                 // Показываем ошибку пользователю
                 alertDeleteError(errorMessage);
             }
           },

           error: function(e) {
             console.log(e)
             let error = '';
             if(e.status){
               error = 'Статус ошибки - ' + e.status;
             }
             alertDeleteError(`Произошла ошибка. Попробуйте еще раз.<br>${error}`)
           },
           complete: function() {
           }
       });
     })

     function addContact(){
       let submitButton = $('.add-contact-btn'); // Убедитесь, что у кнопки отправки есть id='submit-button'
       submitButton.prop('disabled', true);
       // Сохраняем текст, если надо восстановить потом
       let originalText = submitButton.html();

       // Блокируем и добавляем фиксированные размеры
       let buttonWidth = submitButton.outerWidth();
       let buttonHeight = submitButton.outerHeight();

       submitButton.prop('disabled', true).css({
         width: buttonWidth,
         height: buttonHeight
       }).html(`
         <span class="d-flex justify-content-center align-items-center w-100 h-100">
           <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
         </span>
       `);
       let fio = $('#fio').val();
       let email = $('#email').val();
       let phone = $('#phone').val();
       let dataJson = {
         fio: fio,
         email: email,
         phone: phone
       };

       $.ajax({
           url: '/accounts/api/organizations/'+ {{ form.organization.value }} +'/contacts/',
           method: 'POST',
           data: JSON.stringify(dataJson),
           headers: {
               'X-CSRFToken': getCookie('csrftoken'),
               'Content-Type': 'application/json'  // Явно указываем тип контента
           },
           dataType: 'json',
           statusCode: {
             201: function(result) {
                 console.log(result)
                   alertSuccessC('Контакт успешно добавлен')
                   $('.create-contact-success').on('click', () => {
                    $('#fio').val('');
                    $('#email').val('');
                    $('#phone').val('');
                     contactsTable.ajax.reload(null, false)
                   });
             },
             406: function(result) {
                   alertErrorC(result.responseJSON.error)
             },
             400: function(result) {
               let errorMessage = 'Ошибка HTTP_400_BAD_REQUEST!';
               // Если есть JSON с ошибками
                 if (result.responseJSON) {
                     // Собираем все ошибки в один текст
                     const errors = [];
                     for (const field in result.responseJSON) {
                         errors.push(...result.responseJSON[field]);
                     }
                     errorMessage = errors.join('<br>');
                 }
                 // Если нет JSON, но есть текст
                 else if (result.responseText) {
                     try {
                         const json = JSON.parse(result.responseText);
                         errorMessage = json.message || result.responseText;
                     } catch {
                         errorMessage = result.responseText;
                     }
                 }

                 // Показываем ошибку пользователю
                 alertError(errorMessage);
             },
             403: function(result) {
               let errorMessage = 'Ошибка HTTP_403_BAD_REQUEST!';
               // Если есть JSON с ошибками
                 if (result.responseJSON) {
                     // Собираем все ошибки в один текст
                     const errors = [];
                     for (const field in result.responseJSON) {
                         errors.push(...result.responseJSON[field]);
                     }
                     errorMessage = errors.join('<br>');
                 }
                 // Если нет JSON, но есть текст
                 else if (result.responseText) {
                     try {
                         const json = JSON.parse(result.responseText);
                         errorMessage = json.message || result.responseText;
                     } catch {
                         errorMessage = result.responseText;
                     }
                 }

                 // Показываем ошибку пользователю
                 alertError(errorMessage);
             }
           },

           error: function(e) {
             console.log(e)
             let error = '';
             if(e.status){
               error = 'Статус ошибки - ' + e.status;
             }
             alertError(`Произошла ошибка. Попробуйте еще раз.<br>${error}`)
           },
           complete: function() {
               // Разблокируем кнопку после завершения запроса
               submitButton.prop('disabled', false);
               submitButton.html('Создать'); // Восстанавливаем текст кнопки
           }
       });
     }

       $('.add-contact-btn').click(addContact);
  })
</script>
