{% load static %}
<div class="tab-pane" id="experience" role="tabpanel">
    <form>
        <div id="newlink">
            <div id="1">
                <div class="row">

                </div>
                <!--end row-->
            </div>
        </div>
        <div id="newForm" style="display: none;">

        </div>
        <div class="col-lg-12">
            <div class="hstack gap-2">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="javascript:new_link()" class="btn btn-primary">Add New</a>
            </div>
        </div>
        <!--end col-->
    </form>
</div>
<!--end tab-pane-->
