{% extends 'base.html' %}
{% load static %}
{% block title %}Редактирование пользователя{% endblock title %}
{% block page-title %}Пользователь{% endblock page-title %}
{% block pagecss %}
    <!--datatable css-->
    <link rel="stylesheet" href="/static/assets/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="/static/assets/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="/static/assets/css/buttons.dataTables.min.css">
    <!-- Подключаем русскую локализацию -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
{% endblock %}
{% block page-subtitle %}Детали{% endblock page-subtitle %}
{% block menu-title %}Пользователь{% endblock menu-title %}
{% block content %}

<div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
        <img src="/static/assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
        <div class="overlay-content">
            <div class="text-end p-3">
            <!--    <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                    <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                        <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                    </label>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-3">
        <div class="card mt-n5">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                        <img src="/static/assets/images/users/user-dummy-img.jpg" class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-camera-fill"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <h5 class="fs-16 mb-1">{{ form.first_name.value }} {{ form.last_name.value }}</h5>
                    <p class="text-muted mb-0">{{ form.instance.organization.name }} / {% for group in groups %} {% if group.contains %} {{ group.name }} {% endif %}{% endfor %}</p>
                </div>
            </div>
        </div>
        <!--end card-->
        {% if permissions.is_admin %}
        <div class="card">
            <div class="card-body">
              <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" style="text-align: center;">
                          <label class="form-check-label" for="{{ form.is_superuser.name }}">{{ form.is_superuser.label }}</label><br>
                        <!--  <span class="text-muted">{{ form.is_superuser.help_text|safe }}</span>-->
                        </th>
                        <td style="white-space: nowrap;vertical-align: middle;text-align: center;">
                          <div class="form-check form-switch">
                              <input class="form-check-input" name="{{ form.is_superuser.name }}" type="checkbox" role="switch" id="{{ form.is_superuser.name }}" {% if form.is_superuser.value %}checked{% endif %}>
                              <label class="form-check-label text-muted ms-2" for="{{ form.is_superuser.name }}"> Да/Нет</label>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">
                          <label class="form-check-label" for="{{ form.is_staff.name }}">{{ form.is_staff.label }}</label><br>
                        <!--   <span class="text-muted">{{ form.is_staff.help_text|safe }}</span>-->
                        </th>
                        <td style="white-space: nowrap;vertical-align: middle;text-align: center;">
                          <div class="form-check form-switch">
                            <input class="form-check-input" name="{{ form.is_staff.name }}" type="checkbox" role="switch" id="{{ form.is_staff.name }}" {% if form.is_staff.value %}checked{% endif %}>
                            <label class="form-check-label text-muted ms-2" for="{{ form.is_staff.name }}"> Да/Нет</label>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">
                          <label class="form-check-label" for="{{ form.is_active.name }}">{{ form.is_active.label }}</label><br>
                        <!--   <span class="text-muted">{{ form.is_active.help_text|safe }}</span>-->
                        </th>
                        <td style="white-space: nowrap;vertical-align: middle;text-align: center;">
                          <div class="form-check form-switch">
                            <input class="form-check-input" name="{{ form.is_active.name }}" type="checkbox" role="switch" id="{{ form.is_active.name }}" {% if form.is_active.value %}checked{% endif %}>
                            <label class="form-check-label text-muted ms-2" for="{{ form.is_active.name }}"> Да/Нет</label>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;vertical-align: middle;">
                          <label class="form-check-label" for="">{{ form.groups.label }}</label>
                        </th>
                        <td style="white-space: nowrap;vertical-align: middle; text-align: center;">
                          <div class="form-check form-switch" >
                            {% for group in groups %}

                                <input type="checkbox" class="form-check-input" id="group-checkbox-{{ group.id }}" name="group-{{ group.id }}" {% if group.contains %}checked="checked"{% endif %}>
                                <label for="group-checkbox-{{ group.id }}" class="form-check-label text-muted ms-2">{{ group.name }}</label>
                                <br>
                            {% endfor %}
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!--end card-->
        {% endif %}
    </div>
    <!--end col-->
    <div class="col-xxl-9">
        <div class="card mt-xxl-n5">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                            <i class="fas fa-home"></i> Детали
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                            <i class="far fa-user"></i> Изменить пароль
                        </a>
                    </li>
                    {% if not permissions.is_engineer %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#experience" role="tab">
                            <i class="far fa-envelope"></i> Контактные лица
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-body p-4">
                <div class="tab-content">
                    {% include "users/detail_tab.html" %}
                    {% include "users/change_pass_tab.html" %}
                    {% if not permissions.is_engineer %}
                      {% include "users/contact_tab.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
{% endblock content %}
{% block pagescripts %}
<script src="{% static 'assets/js/pages/plugins/jquery-3.6.0.min.js' %}"  crossorigin="anonymous"></script>
    <!--datatable js-->
    <script src="/static/assets/js/pages/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.responsive.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.buttons.min.js"></script>
<script src="/static/assets/libs/dropzone/dropzone-min.js"></script>
<!-- filepond js -->
<script src="/static/assets/libs/filepond/filepond.min.js"></script>
<script src="/static/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
<script src="/static/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
<script src="/static/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="/static/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
<script src="/static/assets/js/pages/plugins/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/ru.min.js"></script>
<script src="/static/assets/libs/prismjs/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    })
</script>
  {% endblock %}
