{% extends 'base.html' %}
{% load static %}
{% block title %}Пользователи{% endblock title %}
{% block pagecss %}
    <!--datatable css-->
    <link rel="stylesheet" href="/static/assets/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="/static/assets/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="/static/assets/css/buttons.dataTables.min.css">
    <!-- dropzone css -->
    <link rel="stylesheet" href="/static/assets/libs/dropzone/dropzone.css" type="text/css" />

    <!-- Filepond css -->
    <link rel="stylesheet" href="/static/assets/libs/filepond/filepond.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

{% endblock %}
{% block page-title %}Пользователи{% endblock page-title %}
{% block page-subtitle %}все{% endblock page-subtitle %}
{% block menu-title %}Пользователи{% endblock menu-title %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
      <div class="card" id="ticketsList">
          <div class="card-header border-0">
              <div class="d-flex align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">Пользователи</h5>
                  <div class="flex-shrink-0">
                      <div class="d-flex flex-wrap gap-2">
                          <button class="btn btn-danger add-btn" data-bs-toggle="modal" data-bs-target="#showModalAddUser"><i class="ri-add-line align-bottom me-1" ></i> Создать</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card-body">
                  <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="usersTable">
                      <thead>
                          <tr>
                              <th>Идентификатор</th>
                              <th>Адрес электронной почты</th>
                              <th>Организация</th>
                              <th>Телефон</th>
                              <th>Последний вход</th>
                              <th>Создан</th>
                              <th>Группа</th>
                          </tr>
                      </thead>
                      <tbody class="list form-check-all" id="users-list-data">

                      </tbody>
                      <tbody class="list form-check-all" id="users-list-data-preloader">
                        <tr>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                            <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                        </tr>
                      </tbody>
                  </table>
        </div>
          <!--end card-body-->
      </div>
      <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
{% include "accounts/modal_create_user.html" %}
{% include "organizations/modal_create_org.html" %}
{% endblock content %}

{% block pagescripts %}
<script src="{% static 'assets/js/pages/plugins/jquery-3.6.0.min.js' %}"  crossorigin="anonymous"></script>
    <!--datatable js-->
    <script src="/static/assets/js/pages/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.responsive.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/pages/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/pages/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/pages/plugins/vfs_fonts.js"></script>
    <script src="/static/assets/js/pages/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/pages/plugins/select2.min.js"></script>
    <script src="/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- dropzone min -->
    <script src="/static/assets/libs/dropzone/dropzone-min.js"></script>
    <!-- filepond js -->
    <script src="/static/assets/libs/filepond/filepond.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script type="text/javascript">
      let usersTable;
      function initializeTables(){
        usersTable = $('#usersTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '/accounts/api/users/',
                type: 'GET',
                data: function(d) {
                    // Дополнительные параметры можно добавить здесь
                },
                dataSrc: function(json) {
                    // Убедимся, что данные получены в правильном формате
                    if (json && json.data) {
                        return json.data;
                    }
                    return [];
                }
            },
            columns: [
                { data: 'id' },
                {
                  data: 'email' ,
                  render: function(data, type, row) {
                      // Создание ссылки на страницу деталей заявки с использованием id
                      return `<a href="/accounts/users/edit/${row.id}" class="fw-medium link-primary contract-id">${data}</a>`;
                  }
                },
                { data: 'organization_name' },
                { data: 'phone' },
                {
                    data: 'last_login',
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return data || 'Никогда';
                        }
                        return data;
                    }
                },
                {
                    data: 'date_joined',
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return data || '-';
                        }
                        return data;
                    }
                },
                { data: 'groups' }
            ],
            columnDefs: [
                {
                    targets: 0,
                    width: "3%",
                    className: 'dt-center'
                },
                {
                    targets: [1, 2, 3, 4],
                    className: 'dt-left'
                }
            ],
            paging: true,
            lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
            order: [[0, 'asc']],
            language: {
                url: '/static/assets/js/table-ru.json'
            },
            stateSave: true,
            deferRender: true,
            drawCallback: function(settings) {
                $('.add-btn').attr('disabled', false);
                $('#users-list-data').show();
                $('#users-list-data-preloader').remove();
            }
        });
      }
      document.addEventListener('DOMContentLoaded', function () {

          initializeTables();
        //  $('#showModalAddOrg').modal('show');
        });

    </script>
    {% endblock %}
