{% load static %}
<style media="screen">
  .comment {
    opacity:0
  }
</style>

    <div class="card">
        <div class="card-body p-4">
            <h6 class="fw-semibold text-uppercase mb-3">Описание заявки</h6>
            <p class="text-muted"> {{ data.application.problem }}</p>
        </div>
        <!--end card-body-->
        <div class="card-body p-4">
            <h5 class="card-title mb-4">Коментарии</h5>

            <div data-simplebar style="height: 400px;" class="px-3 mx-n3 messages" data-simplebar-auto-hide="false" data-simplebar-track="secondary">
              <div class="comment-status" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
              </div>
              {% if permissions.is_staff %}
                {% for record in data.history %}
                  <div class="d-flex mb-4 comment">
                      <div class="flex-shrink-0">
                          <img src="/static/assets/images/users/user-dummy-img.jpg" alt="" class="avatar-xs rounded-circle" />
                      </div>
                      <div class="flex-grow-1 ms-3">
                          <h5 class="fs-13">
                            <b>{{ record.author_name }} </b><small class="text-muted">{{ record.formatted_date }}</small>
                            {% if record.author_id and record.author_id == user.id %}
                              <a class="" href="#showModalEditComment" data-comment-id="{{ record.id|safe }}" data-text-edit='{{ record.text|safe }}' data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></a>
                              <a class="" href="#showModalRemoveComment" data-comment-id="{{ record.id|safe }}"  data-text-edit='{{ record.text|safe }}'  data-bs-toggle="modal"><i class="ri-delete-bin-6-line align-bottom me-2 text-muted"></i></a>
                            {% endif %}
                          </h5>
                          {% if record.record_type == 'comment' and record.hide %}
                            <p class="text-muted">Комментарий скрыт от пользователей</p>
                          {% endif %}
                          <div class="ckeditor-output">{{ record.text|safe }}</div>
                      </div>
                  </div>
                  {% endfor %}
                {% else %}
                  {% for record in data.history.comments %}
                    <div class="d-flex mb-4 comment">
                        <div class="flex-shrink-0">
                            <img src="/static/assets/images/users/user-dummy-img.jpg" alt="" class="avatar-xs rounded-circle" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fs-13">
                              <b>{{ record.author_name }} </b><small class="text-muted">{{ record.formatted_date }}</small>
                              {% if record.author_id and record.author_id == user.id %}
                                <a class="" href="#showModalEditComment" data-comment-id="{{ record.id|safe }}"  data-text-edit='{{ record.text|safe }}' data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></a>
                              {% endif %}
                            </h5>
                            <div class="ckeditor-output" >{{ record.text|safe }}</div>
                        </div>
                    </div>
                {% endfor %}
              {% endif %}
            </div>
            <form action="javascript:void(0);" class="mt-3">
                <div class="row g-3">
                    <div class="col-lg-12">
                        <label for="exampleFormControlTextarea1" class="form-label">Оставте коментарий </label>
                        <textarea name="comment" class="form-control bg-light border-light" id="comment" rows="3" {% if data.application.status_id == 4 %} disabled="true" {% endif %} placeholder="Напишите коментарий"></textarea>
                    </div>
                    <div class="col-lg-12 text-end">
                      <!-- Indeterminate -->
                      {% if permissions.is_staff %}
                        <div class="form-check">
                          <label class="form-check-label" for="hideComment">
                            Скрыть комментарий от клиента
                          </label>
                            <input class="form-check-input" type="checkbox" value="" id="hideComment">

                        </div>
                      {% endif %}
                        <a href="javascript:void(0);" class="btn btn-success {% if data.application.status_id == 4 %} disabled {% endif %}" id="send-comment" >Отправить</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end card body -->
    </div>
    <!--end card-->
<script>
  CKEDITOR.replace('comment', {
      toolbar: [
          { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike'] },
          { name: 'links', items: ['Link', 'Unlink'] },
          { name: 'lists', items: ['BulletedList', 'NumberedList'] },
          { name: 'undo', items: ['Undo', 'Redo'] }
      ],
      // 1. Явно разрешаем data- атрибуты для <a>
      extraAllowedContent: 'a[data-*]{*}; div[data-*]{*}',
      // 2. Отключаем автоматическую фильтрацию
      allowedContent: true,
      // 3. Запрещаем преобразование символов в сущности
      basicEntities: false,
      entities: false,
      // 4. Режим ввода
      enterMode: CKEDITOR.ENTER_P,
      shiftEnterNewtonMode: CKEDITOR.ENTER_P,
      // 5. Отключаем очистку стилей
      forcePasteAsPlainText: false,
      // 6. Для Bootstrap-модал: явно разрешаем data-bs-toggle
      contentLanguage: '',
      // 7. Дополнительная защита от XSS (если нужно)
      xssProtection: false,
      fillEmptyBlocks: false,
  });
</script>
<script>
  $(document).ready(function() {
        $('div[data-simplebar=init]').attr('data-simplebar-auto-hide', false);
       function scrollToBottom(rm) {
           var simpleBarInstance = $('.messages')[0].simpleBar;
           if (simpleBarInstance) {
               simpleBarInstance.getScrollElement().scrollTop = simpleBarInstance.getScrollElement().scrollHeight;
           } else {
               // Fallback на обычную прокрутку
               $('.messages .simplebar-content-wrapper').scrollTop($('.messages .simplebar-content-wrapper')[0].scrollHeight);
           }
           if(rm){
             $('.comment').css('opacity', 1)
             $('.comment-status').remove()
           }

       }

       setTimeout(scrollToBottom(false), 300);
       setTimeout(scrollToBottom(true), 1000);

       $('#send-comment').on('click', function () {
         // Блокируем кнопку отправки
         let submitButton = $('#send-comment'); // Убедитесь, что у кнопки отправки есть id='submit-button'
         submitButton.prop('disabled', true);
         // Сохраняем текст, если надо восстановить потом
         let originalText = submitButton.html();

         // Блокируем и добавляем фиксированные размеры
         let buttonWidth = submitButton.outerWidth();
         let buttonHeight = submitButton.outerHeight();

         submitButton.prop('disabled', true).css({
           width: buttonWidth,
           height: buttonHeight
         }).html(`
           <span class="d-flex justify-content-center align-items-center w-100 h-100">
             <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
           </span>
         `);

         let comment = CKEDITOR.instances['comment'].getData();
         let ticket_id = $('#ticket_id').val();
         let author_name = "{{ user.last_name }} {{ user.first_name }}";
         let hide = $('#hideComment').is(':checked');
         $.ajax({
             url: '/applications/api/edit/comments/'+ticket_id,
             method: 'POST',
             data: { text: comment, hide: hide },
             headers: { 'X-CSRFToken': getCookie('csrftoken') },
             dataType: 'json',
             success: function(result) {
               if(result.text) {
                 location.reload()
                   // Форматируем текущую дату
                  /* let currentDate = new Date();
                   let formattedDate = currentDate.toLocaleString('ru-RU', {
                       day: '2-digit',
                       month: '2-digit',
                       year: 'numeric',
                       hour: '2-digit',
                       minute: '2-digit'
                   }).replace(',', '');

                   // Создаем HTML нового комментария
                   let newComment = `
                       <div class="d-flex mb-4 comment" style="opacity: 0;">
                           <div class="flex-shrink-0">
                               <img src="/static/assets/images/users/user-dummy-img.jpg" alt="" class="avatar-xs rounded-circle" />
                           </div>
                           <div class="flex-grow-1 ms-3">
                               <h5 class="fs-13"><b>${author_name}</b> <small class="text-muted">${formattedDate}</small></h5>
                               <p class="text-muted">${result.text}</p>
                           </div>
                       </div>
                   `;


                   // Добавляем комментарий в конец списка
                   $('.simplebar-content').append(newComment);
                   newComment = $('.comment').last()
                   // Плавное появление и прокрутка
                   setTimeout(() => {
                       newComment.css('opacity', 1);
                       scrollToBottom(false);
                   }, 100);

                  // Функция для моргания
                  function blinkElement(element, times = 3, interval = 500) {
                    let counter = 0;
                    const blinkInterval = setInterval(() => {
                      element.css('background-color', counter % 2 === 0 ? 'rgba(243, 246, 249, 1)' : 'transparent');
                      counter++;
                      if (counter >= times * 2) {
                        clearInterval(blinkInterval);
                        element.css('background-color', 'transparent');
                      }
                    }, interval / 2);
                  }

                  // Запускаем моргание
                  blinkElement(newComment, 2, 1000);// Показываем комментарий\
                   // Очищаем поле ввода
                   $('#comment').val(''); */
               }

             },
             error: function(e) {
               console.log(e)
               let status = '';
               if(e.status){
                 status = 'Статус ошибки - ' + e.status;
               }
               let detail = '';
               if(e.responseJSON)
               {
                 detail = e.responseJSON.detail;
               }
               alertError(`${status}<br>${detail}`)
             },
             complete: function() {
                 // Разблокируем кнопку после завершения запроса
                 submitButton.prop('disabled', false);
                 submitButton.html(originalText); // Восстанавливаем текст кнопки
             }
         });
       })

   });
</script>
