{% extends 'base.html' %}
{% load static %}
{% block title %}Список статей{% endblock title %}
{% block page-title %}Список статей{% endblock page-title %}
{% block pagecss %}
    <!--datatable css-->
    <link rel="stylesheet" href="/static/assets/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="/static/assets/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="/static/assets/css/buttons.dataTables.min.css">
    <!-- dropzone css -->
    <link rel="stylesheet" href="/static/assets/libs/dropzone/dropzone.css" type="text/css" />

    <!-- Filepond css -->
    <link rel="stylesheet" href="/static/assets/libs/filepond/filepond.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="card" id="articleList">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1"><b>Статьи</b></h5>
            </div>
        </div>
        <div class="card-body">
                <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="articleTable">
                    <thead>
                        <tr>
                            <th>Идентификатор</th>
                            <th>Наименование</th>

                        </tr>
                    </thead>
                    <tbody class="list form-check-all" id="article-list-data">

                    </tbody>
                    <tbody class="list form-check-all" id="article-list-data-preloader">
                      <tr>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      </tr>
                    </tbody>
                </table>
      </div>
        <!--end card-body-->
    </div>
    <!--end card-->
</div>
{% endblock content %}
{% block pagescripts %}
<script src="{% static 'assets/js/pages/plugins/jquery-3.6.0.min.js' %}"  crossorigin="anonymous"></script>
    <!--datatable js-->
    <script src="/static/assets/js/pages/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.responsive.min.js"></script>
    <script src="/static/assets/js/pages/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/pages/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/pages/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/pages/plugins/vfs_fonts.js"></script>
    <script src="/static/assets/js/pages/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/pages/plugins/select2.min.js"></script>
    <script src="/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- dropzone min -->
    <script src="/static/assets/libs/dropzone/dropzone-min.js"></script>
    <!-- filepond js -->
    <script src="/static/assets/libs/filepond/filepond.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="/static/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script type="text/javascript">
      let articleTable;
      function initializeArticleTables(){
        articleTable = $('#articleTable').DataTable({
           processing: true,
           serverSide: true,
           searching: true,
           ajax: {
               url: '/articles/',  // Путь к вашему API
               type: 'GET',
               data: function(d) {
                 // Добавляем параметры для серверной обработки
                 d.search_value = d.search.value;
               }
           },

           columns: [
           { data: 'id' },
           {
             data: 'title',
             render: function(data, type, row) {
                   // Создание ссылки на страницу деталей заявки с использованием id
                   return `<a href="/articles/${row.id}/">${data}</a>`;
             }
           }
           ],
           columnDefs: [
               {
                   targets: 0,
                   width: "1%",
                   className: 'dt-center'
               }
           ],
           paging: true,
           pageLength: 20,
           lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
           order: [[0, 'default']],
           language: {
               url: '/static/assets/js/table-ru.json'
           },
           stateSave: true, // Сохранение состояния таблицы
           // Убедитесь, что данные возвращаются в правильном формате
           deferRender: true, // Ускоряет при большом количестве данных
           drawCallback: function(settings) {
             $('.add-article-btn').attr('disabled', false)
             $('#article-list-data').show()
             $('#article-list-data-preloader').remove()
           }
       });
      }

      document.addEventListener('DOMContentLoaded', function () {

            initializeArticleTables();
      })
    </script>
{% endblock %}
