{% load static %}
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="#" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{% static 'img/favicon/favicon.ico' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'img/favicon/favicon.ico' %}" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="#" class="logo logo-light">
            <span class="logo-sm">
                <img src="{% static 'img/favicon/favicon.ico' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
              <!--  <img src="{% static 'assets/images/лого-рус.jpg' %}" alt="" height="45">-->
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Техподдержка</span></li>
                <li class="nav-item {% if request.path == '/applications/apps_list/' %}active{% endif %}">
                  <a href="{% url 'app-list' %}" class="nav-link menu-link {% if request.path == '/applications/apps_list/' %}active{% endif %}" data-key="t-list-view">
                  <i class="ri-apps-2-line"></i> <span data-key="t-tickets">Заявки </span></a>
                </li>

            </ul>
            {% if permissions.is_admin %}
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-administration">Администрирование</span></li>

                  <li class="nav-item {% if 'contracts' in request.path %}active{% endif %}">
                      <a class="nav-link menu-link {% if 'contracts' in request.path %}active{% endif %}" href="{% url 'list-contracts' %}">
                          <i class="ri-file-list-line"></i><span data-key="t-contracts">Контракты</span>
                      </a>
                  </li>
                  <li class="nav-item {% if 'accounts' in request.path %}active{% endif %}">
                      <a class="nav-link menu-link {% if 'accounts' in request.path %}active{% endif %}" href="{% url 'list-user' %}">
                          <i class="ri-group-line"></i> <span data-key="t-users">Пользователи</span>
                      </a>
                  </li>
                  <li class="nav-item {% if 'equipments' in request.path %}active{% endif %}">
                      <a class="nav-link menu-link {% if 'equipments' in request.path %}active{% endif %}" href="{% url 'list-equipments' %}">
                          <i class="ri-server-line"></i> <span data-key="t-equipments">Оборудование</span>
                      </a>
                  </li>

                  <li class="menu-title"><span data-key="t-settings">Настройки</span></li>

                  <li class="nav-item {% if 'lists' in request.path %}active{% endif %}">
                      <a class="nav-link menu-link {% if 'lists' in request.path %}active{% endif %}" href="{% url 'Lists' %}">
                        <i class="ri-file-list-3-line"></i> <span data-key="t-equipments">Списки</span>
                      </a>
                  </li>
            </ul>
            {% endif %}
            {% if permissions.is_staff %}
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">База знаний</span></li>
                <li class="nav-item {% if 'articles' in request.path %}active{% endif %}">
                  <a href="{% url 'articles' %}" class="nav-link menu-link {% if 'articles' in request.path %}active{% endif %}" data-key="t-articles-view">
                  <i class="ri-article-line"></i> <span data-key="t-articles">Статьи </span></a>
                </li>

            </ul>
            {% endif %}
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
