{% load static %}
<header id="page-topbar">
  <div class="layout-width">
      <div class="navbar-header">
          <div class="d-flex">
              <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                  <span class="hamburger-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </button>


          </div>
          <div class="flex-grow-1 d-flex justify-content-center mx-3">
            {# Проверяем флаг из settings.py и наличие текста #}
            {% if SHOW_GLOBAL_ALERT and GLOBAL_ALERT_TEXT %}
                <div class="alert alert-danger mb-0 py-2 px-3" role="alert" style="max-width: 600px; width: 100%; text-align: center;">
                    <strong>Внимание!</strong> {{ GLOBAL_ALERT_TEXT|safe }}
                </div>
            {% endif %}
        </div>
          <div class="d-flex align-items-center">
              <div class="ms-1 header-item d-none d-sm-flex">
                  <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                      <i class='bx bx-fullscreen fs-22'></i>
                  </button>
              </div>

              <div class="ms-1 header-item d-none d-sm-flex">
                  <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode" id="theme-toggle">
                      <i class='bx bx-moon fs-22'></i>
                  </button>
              </div>



              <div class="dropdown ms-sm-3 header-item topbar-user">
                  <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="d-flex align-items-center">
                          <img class="rounded-circle header-profile-user" src="{% static 'assets/images/users/user-dummy-img.jpg' %}" alt="Header Avatar">
                          <span class="text-start ms-xl-2">
                              <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ user.first_name }} {{ user.last_name }}</span>
                              <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">{{ user.organization }}</span>
                          </span>
                      </span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end">
                      <!-- item-->
                      <h6 class="dropdown-header">Welcome  {{ user.first_name }} {{ user.last_name }}</h6>
                      <a class="dropdown-item" href="{% url 'edit-user' user.id %}"><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Настройки</span></a>
                      <a class="dropdown-item" href="{% url 'api-login' %}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Выход</span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- removeNotificationModal -->
<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
          </div>
          <div class="modal-body">
              <div class="mt-2 text-center">
                  <lord-icon src="/static/assets/json/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                  <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                      <h4>Are you sure ?</h4>
                      <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                  </div>
              </div>
              <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                  <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
              </div>
          </div>

      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
function setTheme(theme) {
    document.documentElement.setAttribute('data-bs-theme', theme);
    localStorage.setItem('theme', theme);

}

document.addEventListener('DOMContentLoaded', function() {
    const savedTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-bs-theme', savedTheme);
});

document.getElementById('theme-toggle').addEventListener('click', function() {
    const currentTheme = document.documentElement.getAttribute('data-bs-theme');
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    setTheme(currentTheme);
});
</script>
