{% load static %}
<div class="col-lg-4">
    <div class="card" id="modelList">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1"><b>Модели</b></h5>
                <div class="flex-shrink-0">
                    <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-danger add-model-btn" data-bs-toggle="modal" disabled data-bs-target="#showModalAddModel"><i class="ri-add-line align-bottom me-1" ></i> Создать</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
                <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="modelTable">
                    <thead>
                        <tr>
                            <th>Идентификатор</th>
                            <th>Наименование</th>
                            <th>Бренд</th>
                            <th>Вендор</th>
                            <th>действия</th>

                        </tr>
                    </thead>
                    <tbody class="list form-check-all" id="model-list-data">

                    </tbody>
                    <tbody class="list form-check-all" id="model-list-data-preloader">
                      <tr>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      </tr>
                    </tbody>
                </table>
      </div>
        <!--end card-body-->
    </div>
    <!--end card-->
</div>
<script type="text/javascript">

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          document.cookie.split(';').forEach(cookie => {
              cookie = cookie.trim();
              if (cookie.startsWith(name + '=')) {
                  cookieValue = decodeURIComponent(cookie.split('=')[1]);
              }
          });
      }
      return cookieValue;
  }

  function alertDeleteModelSuccess (text)
  {
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Успех !</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-model-success',
        cancelButtonText: 'Oк',
        buttonsStyling: false,
        showCloseButton: true
    })
  }

  function alertDeleteModelError(text){
    Swal.fire({
        html: '<div class="mt-3">' +
            '<lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>' +
            '<div class="mt-4 pt-2 fs-15">' +
            '<h4>Упс...! Что то пошло не так!</h4>' +
            `<p class="text-muted mx-4 mb-0">${text}</p>` +
            '</div>' +
            '</div>',
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonClass: 'btn btn-primary w-xs mb-1 delete-model-error',
        cancelButtonText: 'Закрыть',
        buttonsStyling: false,
        showCloseButton: true
    })
  }

  let modelTable;
  function initializeModelTables(){
    modelTable = $('#modelTable').DataTable({
       processing: true,
       serverSide: true,
       searching: true,
       ajax: {
           url: '/equipments/api/models/datatable/',  // Путь к вашему API
           type: 'GET',
           data: function(d) {
               // Добавление данных для поиска
           },
       },

       columns: [
       { data: 'id' },
       { data: 'name' },
       { data: 'brand_name' },
       { data: 'vendor_name' },
       {
         data: 'id',
         render: function(data, type, row) {
               // Создание ссылки на страницу деталей заявки с использованием id
               return `<div class="dropdown">
                           <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="ri-more-fill align-middle"></i>
                           </button>
                           <ul class="dropdown-menu dropdown-menu-end" style="">
                               <li>
                                   <a class="dropdown-item remove-model-btn" data-delete-model-id="${row.id}" href="#">
                                       <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Удалить
                                   </a>
                               </li>
                           </ul>
                       </div>`;
         }
       }
       ],
       columnDefs: [
           {
               targets: 0,
               width: "1%",
               className: 'dt-center'
           },
           {
               targets: [1],
               className: 'dt-center'
           },
           {
               targets: [2,3,4],
               width: "1%",
               className: 'dt-center'
           }
       ],
       paging: true,
       lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
       order: [[0, 'default']],
       language: {
           url: '/static/assets/js/table-ru.json'
       },
       stateSave: true, // Сохранение состояния таблицы
       // Убедитесь, что данные возвращаются в правильном формате
       deferRender: true, // Ускоряет при большом количестве данных
       drawCallback: function(settings) {
         $('.add-model-btn').attr('disabled', false)
         $('#model-list-data').show()
         $('#model-list-data-preloader').remove()
       }
   });
  }
  document.addEventListener('DOMContentLoaded', function () {

        initializeModelTables();
      //  $('#showModalAddOrg').modal('show');
      $(document).on('click', '.remove-model-btn', function() {
        let modelId = $(this).data('deleteModelId');
      //  console.log(supportId)
        $.ajax({
            url: '/equipments/api/models/edit/'+ modelId,
            method: 'DELETE',
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            dataType: 'json',
            statusCode: {
              200: function(result) {
                  console.log(result)
                    alertDeleteModelSuccess('Поддержка  успешно удалена')
                    $('.delete-model-success').on('click', () => {
                      modelTable.ajax.reload(null, false)
                    });
              },
              406: function(result) {
                    alertDeleteModelError(result.responseJSON.error)
              },
              400: function(result) {
                let errorMessage = 'Ошибка HTTP_400_BAD_REQUEST!';
                // Если есть JSON с ошибками
                  if (result.responseJSON) {
                      // Собираем все ошибки в один текст
                      const errors = [];
                      for (const field in result.responseJSON) {
                          errors.push(...result.responseJSON[field]);
                      }
                      errorMessage = errors.join('<br>');
                  }
                  // Если нет JSON, но есть текст
                  else if (result.responseText) {
                      try {
                          const json = JSON.parse(result.responseText);
                          errorMessage = json.message || result.responseText;
                      } catch {
                          errorMessage = result.responseText;
                      }
                  }

                  // Показываем ошибку пользователю
                  alertDeleteModelError(errorMessage);
              },
              403: function(result) {
                let errorMessage = 'Ошибка HTTP_403_BAD_REQUEST!';
                // Если есть JSON с ошибками
                  if (result.responseJSON) {
                      // Собираем все ошибки в один текст
                      const errors = [];
                      for (const field in result.responseJSON) {
                          errors.push(...result.responseJSON[field]);
                      }
                      errorMessage = errors.join('<br>');
                  }
                  // Если нет JSON, но есть текст
                  else if (result.responseText) {
                      try {
                          const json = JSON.parse(result.responseText);
                          errorMessage = json.message || result.responseText;
                      } catch {
                          errorMessage = result.responseText;
                      }
                  }

                  // Показываем ошибку пользователю
                  alertDeleteModelError(errorMessage);
              },
              405: function(result) {
                let errorMessage = 'Ошибка HTTP_405_BAD_REQUEST!';
                // Если есть JSON с ошибками
                  if (result.responseJSON) {
                      // Собираем все ошибки в один текст
                      const errors = [];
                      for (const field in result.responseJSON) {
                          errors.push(...result.responseJSON[field]);
                      }
                      errorMessage = errors.join('<br>');
                  }
                  // Если нет JSON, но есть текст
                  else if (result.responseText) {
                      try {
                          const json = JSON.parse(result.responseText);
                          errorMessage = json.message || result.responseText;
                      } catch {
                          errorMessage = result.responseText;
                      }
                  }

                  // Показываем ошибку пользователю
                  alertDeleteModelError(errorMessage);
              }
            },

            error: function(e) {
              console.log(e)
              let error = '';
              if(e.status){
                error = 'Статус ошибки - ' + e.status;
              }
              alertDeleteModelError(`Произошла ошибка. Попробуйте еще раз.<br>${error}`)
            },
            complete: function() {
            }
        });
      })
    });

</script>
