{% load static %}
<div class="col-lg-4">
    <div class="card" id="orgList">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1"><b>Организации</b></h5>
                <div class="flex-shrink-0">
                    <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-danger add-btn" data-bs-toggle="modal" disabled data-bs-target="#showModalAddOrg"><i class="ri-add-line align-bottom me-1" ></i> Создать</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
                <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;" id="orgTable">
                    <thead>
                        <tr>
                            <th>Идентификатор</th>
                            <th>Наименование</th>
                            <th>Действия</th>

                        </tr>
                    </thead>
                    <tbody class="list form-check-all" id="org-list-data">

                    </tbody>
                    <tbody class="list form-check-all" id="org-list-data-preloader">
                      <tr>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                          <th><h5 class="card-title placeholder-glow"><span class="placeholder col-12 placeholder-lg"></span></h5></th>
                      </tr>
                    </tbody>
                </table>
      </div>
        <!--end card-body-->
    </div>
    <!--end card-->
</div>
<script type="text/javascript">
  let orgTable;
  function initializeTables(){
    orgTable = $('#orgTable').DataTable({
       processing: true,
       serverSide: true,
       searching: true,
       ajax: {
           url: '/accounts/api/organizations/datatable/',  // Путь к вашему API
           type: 'GET',
           data: function(d) {
               // Добавление данных для поиска
           },
       },

       columns: [
       { data: 'id' },
       { data: 'name' },
       {
         data: 'id',
         render: function(data, type, row) {
               // Создание ссылки на страницу деталей заявки с использованием id
               return `<div class="dropdown">
                           <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="ri-more-fill align-middle"></i>
                           </button>
                           <ul class="dropdown-menu dropdown-menu-end" style="">
                               <li>
                                   <a class="dropdown-item remove-item-btn" data-delete-org-id="${row.id}" href="#">
                                       <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Удалить
                                   </a>
                               </li>
                           </ul>
                       </div>`;
         }
       }
       ],
       columnDefs: [
           {
               targets: 0,
               width: "1%",
               className: 'dt-center'
           },
           {
               targets: [1],
               className: 'dt-center'
           },
           {
               targets: 2,
               width: "1%",
               className: 'dt-center'
           }
       ],
       paging: true,
       lengthMenu: [[10, 15, 20, 25, 50], [10, 15, 20, 25, 50]],
       order: [[0, 'default']],
       language: {
           url: '/static/assets/js/table-ru.json'
       },
       stateSave: true, // Сохранение состояния таблицы
       // Убедитесь, что данные возвращаются в правильном формате
       deferRender: true, // Ускоряет при большом количестве данных
       drawCallback: function(settings) {
         $('.add-btn').attr('disabled', false)
         $('#org-list-data').show()
         $('#org-list-data-preloader').remove()
       }
   });
  }
  document.addEventListener('DOMContentLoaded', function () {

      initializeTables();
    //  $('#showModalAddOrg').modal('show');
    });

</script>
