{% load static %}
<div class="modal fade zoomIn" id="showModalEditOrg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-info-subtle">
                <h5 class="modal-title" id="titleEditOrg">Редактирование организации</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form method="PUT" enctype="multipart/form-data" class="tablelist-form" autocomplete="off" id="edit-org-form">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row-g-3">
                      <div class="col-lg-12 mt-3">
                        <h6 class="fw-semibold">Наименование:</h6>
                        <input type="text" name="name" class="form-control" maxlength="250" required="" id="id_edit_name">
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" id="close-org-modal" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success" id="save-org-btn">Сохранить</button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            document.cookie.split(';').forEach(cookie => {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.split('=')[1]);
                }
            });
        }
        return cookieValue;
    }

    $('#showModalEditOrg').on('show.bs.modal', function (event) {
       const button = $(event.relatedTarget); // Кнопка, что вызвала модал
       const itemId = button.data('editOrgId');      // Получаем data-edit-id
       const itemName = button.data('editOrgName');
       const contacts = [];
       const modal = $(this);
          // Если хочешь вставить ID в заголовок или текст:
          modal.find('#id_edit_name').val(itemName);

        $('#save-org-btn').off('click').on('click', (evn) => {
          evn.preventDefault();
          // Блокируем кнопку отправки
          let submitButton = $('#save-org-btn'); // Убедитесь, что у кнопки отправки есть id='submit-button'
          submitButton.prop('disabled', true);
          // Сохраняем текст, если надо восстановить потом
          let originalText = submitButton.html();

          // Блокируем и добавляем фиксированные размеры
          let buttonWidth = submitButton.outerWidth();
          let buttonHeight = submitButton.outerHeight();

          submitButton.prop('disabled', true).css({
            width: buttonWidth,
            height: buttonHeight
          }).html(`
            <span class="d-flex justify-content-center align-items-center w-100 h-100">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            </span>
          `);

          var data = {
                        id: itemId,
                        contacts: [],
                        name: $('#id_edit_name').val().trim()
                      }

          $.ajax({
              url: `/accounts/api/organizations/edit/${itemId}`,
              method: 'PUT',
              data: JSON.stringify(data),
              headers: {
                'X-CSRFToken': getCookie('csrftoken') ,
                'Content-Type': 'application/json',
              },
              statusCode: {
                    200: function (result) {
                      modal.modal('hide');
                      alertSuccess(`Организация отредактирована!`);
                      $('.edit-org-success').on('click', () => {
                        $('#showModalEditOrg').modal('hide')
                        $('#edit-org-form')[0].reset();
                        orgTable.ajax.reload(null, false)
                      });
                    },
                    403: function(result) {
                        alertError('Ошибка 403!')
                    },
                    400: function(result) {
                        alertError('Ошибка 400!')
                    },
                    406: function(result) {
                        console.log('Ошибка 406!')
                    }

              },
              error: function(e) {
                console.log(e)
              },
              complete: function () {
                submitButton.prop('disabled', false);
                submitButton.html(originalText); // Восстанавливаем текст кнопки
              }
          });

        })

    })

    function alertSuccess (text)
    {
      Swal.fire({
          html: '<div class="mt-3">' +
              '<lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>' +
              '<div class="mt-4 pt-2 fs-15">' +
              '<h4>Успех !</h4>' +
              `<p class="text-muted mx-4 mb-0">${text}</p>` +
              '</div>' +
              '</div>',
          showCancelButton: true,
          showConfirmButton: false,
          cancelButtonClass: 'btn btn-primary w-xs mb-1 edit-org-success',
          cancelButtonText: 'Oк',
          buttonsStyling: false,
          showCloseButton: true
      })
    }

    function alertError(text){
      Swal.fire({
          html: '<div class="mt-3">' +
              '<lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>' +
              '<div class="mt-4 pt-2 fs-15">' +
              '<h4>Упс...! Что то пошло не так!</h4>' +
              `<p class="text-muted mx-4 mb-0">${text}</p>` +
              '</div>' +
              '</div>',
          showCancelButton: true,
          showConfirmButton: false,
          cancelButtonClass: 'btn btn-primary w-xs mb-1 edit-org-error',
          cancelButtonText: 'Закрыть',
          buttonsStyling: false,
          showCloseButton: true
      })
    }
  })
</script>
